<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-4">
            <h1><b>D E F E C T O S</b></h1>
        </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
          <h1><b>DATOS DUMMY</b></h1>
      </div>
  </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <p-chart type="line" [data]="data"></p-chart>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <p-chart type="bar" [data]="data"></p-chart>
      </div> 
    </div> 
    <!-- <div class="row">
        <div class="col-12 bt">
            <table class="table table-dark table-striped ">
                <thead>
                  <tr>
                    <th scope="col"*ngFor="let item of articulosfields">{{item.nombre}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of articulos"> 
                    <td>{{item.sku}}</td> 
                    <td>{{item.articulo}}</td> 
                    <td>{{item.marca}}</td> 
                    <td>{{item.modelo}}</td>
                    <td>{{item.departamento}}</td>  
                    <td>{{item.clase}}</td> 
                    <td>{{item.familia}}</td> 
                    <td>{{item.fecha_de_alta}}</td>
                    <td>{{item.stock}}</td>  
                    <td>{{item.cantidad}}</td> 
                    <td>{{item.descontinuado}}</td> 
                    <td>{{item.fecha_baja}}</td> 
                  </tr>
                </tbody>
              </table>
        </div>
    </div> -->
</div>
